body {
    background-color: whitesmoke;
    height: 100vh;
}

.html, .content, .container-fluid {
    height: 100vh;
}
.card {
    
    border: 1px solid black;
    height: 100%;
    margin-top: 25%
}

.new-user-link {
    margin-top: 10px;
}

.secure, .insecure {
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: bold;
}
.secure { 
    float:left;
    background-color: green;
    margin-left: 25px;
}

.insecure {
    float: right;
    background-color: red;
    margin-right: 25px;
}

.form-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.inbox {
    width: 100%;
    background-color: white;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;

}