<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{% block title %}{% endblock %} - CIS4930</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CIS4930 Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if g.user %}
                <li class="nav-item mr-2 "><span>{{ g.user['username'] }}</span>
                <li class="nav-item"><a href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                <li class="nav-item mr-2"><a href="{{ url_for('auth.register') }}">Register</a>
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
            </ul>
            
        </div>
    </nav>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center"
           {% with success = get_flashed_messages(category_filter=["success"]) %}
           {% if success %}
           <div class="alert-message block-message success">
                   {%- for msg in success %}
                   <h6>{{ msg }}</h6>
                   {% endfor -%}
           </div>
           {% endif %}
           {% endwith %}
        </div>
    </div>
    {% block content %}{% endblock %}
</section>
</body>



